.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  background: gray;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
}

.tab.active {
  background: #555;
}
