body{
  margin: 0;
  padding: 0;
  background-color: black;
}

a{
  color: inherit !important;
  text-decoration: none;
}

.wrapper {
  font-family: Arial, sans-serif;
  color: white;
  padding: 20px;
}
